name: "Gosec Security Scan"

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  analyze:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
    - id: checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: Run Gosec Security Scanner
      env:
        GOTOOLCHAIN: "go1.25.5"
      uses: securego/gosec@6be2b51fd78feca86af91f5186b7964d76cb1256 # v2.22.10
      with:
        args: ./...
